.pos-prepaids-col-purchase{ width:170px; }
.pos-prepaids-col-sale{ width:110px; }
.pos-prepaids-col-type{ width:190px; }
.pos-prepaids-col-client{ width:220px; }
.pos-prepaids-col-availability{ width:220px; }
.pos-prepaids-col-status{ width:210px; }
.pos-prepaids-col-actions{ width:150px; }
